body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

table {
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.scheduler_table {
  width: 100%;
  max-width: 1000px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

td.description, td.saveBtn {
  border-top: 2px solid #89cff0;
  border-style: outset;
}

[contenteditable] {
  outline: 0px solid transparent;
}

th.custom_padding {
  padding: 12px 3px;
}

.row {
  white-space: pre-wrap;
  margin-top: 1px;
}

th.hour {
  text-align: right;
  background-color: #ffffff;
  color: #000000;
  border-top: 2px solid #bbbbbb;
}

.past, .present, .future {
  color: black;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

td.saveBtn {
  border-left: 0;
  padding: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.saveBtn svg {
  display: block;
  margin: 0 auto;
}

.saveBtn svg:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
